<header>
  <h1>Indaiá Bookshop</h1>
  <nav>
    <a routerLink="/catalogo">Catálogo</a>
    <div class="header-actions">
      <input type="text" placeholder="Pesquisar produtos..." class="search-bar">
      <button class="login-button" routerLink="/login">Login</button> 
    </div>
  </nav>
</header>

<section class="catalogo">
  <h2>Catálogo de Livros</h2>
  <div class="produtos">

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/61QhNRjycfL._AC_UF1000,1000_QL80_.jpg" alt="ODMNF">
      <h3>Os dois morrem no final</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>
    

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/81cz8NZytZL._SL1500_.jpg" alt="OGDC">
      <h3>Os garotos do cemitério</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/713NMPRoRVL._SL1500_.jpg" alt="OMMLAV">
      <h3>O mar me levou a você</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/81jWAcj3XxL._SL1500_.jpg" alt="EENTE">
      <h3>Enquanto eu não te encontro</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/81uAtniaGNL._SL1500_.jpg" alt="SEM">
      <h3>Sasaki e Miyano</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/71GcpH60ilL._SL1024_.jpg" alt="GIVEN">
      <h3>Given</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>
    
    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/81jSY-3rQRL._SL1500_.jpg" alt="BF">
      <h3>Banana fish</h3>
      <p>Preço: R$29,99</p>
       <button class="comprar-button">Comprar</button>
    </div>

    <div class="produto">
      <img src="https://m.media-amazon.com/images/I/8129HX+5JGL._SL1500_.jpg" alt="H">
      <h3>Heartstopper</h3>
      <p>Preço: R$29,99</p>
      <button class="comprar-button">Comprar</button>
    </div>
  </div>
</section>
