<nav class="sidebar">
  
  <ul class="menu">
    <li class="home-item">
      <div class="image-container">
        <img src="/assets/INDAIABOOKSHOP.png" alt="Logo">
      </div>
      <details>
        <summary><span class="arrow">▶</span> Home</summary>
        <a routerLink="#" class="menu-item">...</a>
      </details>
    </li>

    <li>
      <details>
        <summary><span class="arrow">▶</span> Login</summary>
        <a routerLink="/login" class="menu-item">Fazer Login</a>
      </details>
    </li>

    <li>
      <details>
        <summary><span class="arrow">▶</span> Produtos</summary>
        <a routerLink="/catalogo" class="menu-item">Cadastrar produtos</a>
        <a routerLink="/catalogo" class="menu-item">Movimentar produtos</a>
      </details>
    </li>

    <li>
      <details>
        <summary><span class="arrow">▶</span> Administração</summary>
        <a routerLink="/cad-usuario" class="menu-item">Cadastrar usuário</a>
      </details>
    </li>
  </ul>
</nav>
