.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #61a7f1; 
  padding-top: 20px;
  padding-left: 0; 
  font-family: 'Arial', sans-serif;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  font-weight: 500;
  margin-right: 5px;
}

.menu-item:hover {
  transform: translateY(-5px); 
}

summary {
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
  list-style: none; 
  min-height: 50px; 
  transition: transform 0.2s ease;
  display: flex;
  align-items: center; 
}

summary:hover {
  transform: translateY(-5px); 
}

.arrow {
  margin-right: 10px; 
  font-size: 18px; 
  transition: transform 0.2s ease;
}

details[open] .arrow {
  transform: rotate(90deg); 
}

details {
  padding: 0;
}

details a {
  padding-left: 20px; 
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

details[open] summary {
  background-color: #376494; 
}

details[open] {
  padding-bottom: 10px;
}

body {
  margin-left: 250px;
  font-family: 'Arial', sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 10px; 
}

.image-container img {
  width: 220px; 
  height: auto; 
}
