<nav class="sidebar">
    <h2>Menu</h2>
    <ul class="menu">
  
      <li>
        <details>
          <summary><span class="arrow">▶</span> Login</summary>
          <a href="http://localhost:4200/login" class="menu-item">Fazer Login</a>
        </details>
      </li>
  
      <li>
        <details>
          <summary><span class="arrow">▶</span> Produtos</summary>
          <a href="http://localhost:4200/catalogo" class="menu-item">Cadastrar produtos</a>
          <a href="http://localhost:4200/catalogo" class="menu-item">Movimentar produtos</a>
        </details>
      </li>
  
      <li>
        <details>
          <summary><span class="arrow">▶</span> Administração</summary>
          <a href="#" class="menu-item">Cadastrar usuário</a>
        </details>
      </li>
    </ul>
  </nav>
  
    <div class="image-container">
        <img src="public/INDAIABOOKSHOP.png" alt="Logo">
    </div>